body {
  background-color: #f0f0f0;
  padding: 20px;

  h1 {
    margin-bottom: 30px;
  }

  .header-links {
    font-size: 16px;
  }

  .contact {
    background-color: #FFF;
    border: 1px solid #000000;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    margin: 20px 40px 20px 0;
    height: 600px;
    display: inline-table;

    .links {
      text-align: right;
    }
  }
}